<footer class="center">
  <div class="measure">
     {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
  </div>
  <script type="text/javascript" defer>
    var pres = document.getElementsByTagName("pre");
    var presToModify = [];
    var innerHTMLs = [];
    var classNames = [];
    
    console.log(pres.length);
    
    for (var i=0, max = pres.length; i < max; i++)
    {
        var pre = pres[i];
        if (pre.firstChild && 
            pre.firstChild.tagName == "CODE" &&
            pre.firstChild.className.indexOf('language-') === 0)
        {
            presToModify.push(pre);
            innerHTMLs.push(pre.firstChild.innerHTML);
            classNames.push("brush: " + pre.firstChild.className.substring(9));
        }
    }
    console.log(presToModify.length);
    
    for (var i=0, max = presToModify.length; i < max; i++)
    {
        var pre = presToModify[i];
        pre.className = classNames[i];
        pre.innerHTML = innerHTMLs[i];
    }
    
    
    SyntaxHighlighter.autoloader(
        'csharp /syntaxhighlighter_3.0.83/scripts/shBrushCSharp.js',
        'xml xaml /syntaxhighlighter_3.0.83/scripts/shBrushXml.js'
      );

    SyntaxHighlighter.all();
    
    </script>
</footer>
